@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&family=Oswald:wght@300;500&display=swap');

body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.navbar{
    z-index: 1;
}